{% extends "base.twig" %}

{#
    Why is this here? See "base.twig" for the base template.
#}

{%- block top_right -%}
    <div class="mod-light">
        <h2>404. This page doesn't exist</h2><br>
        <a href="/">Go Back</a>
    </div>
{% endblock %}