{% extends "base.twig" %}

{%- block head -%}
    {{ parent() }}
    <script src="/assets/built-in/js/codemirror.js"></script>
    <script src="/assets/built-in/js/xml.js"></script>
    <script src="/assets/built-in/js/html.js"></script>
    <script src="/assets/built-in/js/css.js"></script>
    <script src="/assets/built-in/js/javascript.js"></script>
    <script src="/assets/built-in/js/htmlmixed.js"></script>
    <link href="/assets/built-in/css/codemirror.css" rel="stylesheet">
    <link href="/assets/built-in/css/shadowfox.css" rel="stylesheet">
{% endblock %}


{%- block top_right -%}
  <div class="mod-light">
      <div id="normal-bar">
          <h2>Editing {{ file.file_name|escape }}</h2>
      </div>
      <span class="text">
          <form action="/request/update_file?file={{ file.file_name|escape }}" method="POST">
              <textarea name="contents" placeholder="Site HTML" id="content-html" class="generic-input">{{ file.contents|escape }}</textarea><br>
              <input type="submit" value="Update File">
          </form>
      </span> 

      <script>
          var editor = CodeMirror.fromTextArea(document.getElementById("content-html"), {
              lineNumbers: true,
              mode: {
                  name: "htmlmixed"
              }, 
              htmlMode: true,
              theme: "shadowfox",
              matchBrackets: true
          });
          editor.setSize(650, 500);
      </script>
  </div>
{% endblock %}