<img src="/assets/built-in/img/white_logo.png" id="logo">
<div id="user-bar">
    <a href="/sign_in">
        <button class="sign_in_button">
            Log in
        </button>
    </a>
    &nbsp;&nbsp;...or&nbsp;&nbsp;
    <a href="/sign_up">
        <button class="sign_in_button">
            Sign Up
        </button>
    </a>
</div>