{% extends "base.twig" %}

{%- block top_right -%}
    <div class="mod-light">
        <div id="normal-bar">
            <h2>Create a File</h2>
        </div>
        <span class="text">
            <form action="/request/make_file" method="POST">
                <span class="text-form">
                    <b>File Name</b><br>
                    Must end with a file extension.<br>
                    <span style="color:red">* this input is required</span>
                </span>
                <input type="text" name="file_name" placeholder="File Name" class="generic-input"><br><br>
                <input type="submit" value="Make File">
            </form>
        </span> 
    </div>
{% endblock %}