<div class="mod-dark">
    <ul>
        <li class="active"><a href="/" class="button-list">Home</a></li>
        <li><a href="/potd" class="button-list">Page of the Day</a></li>
        <li><a href="/lookup" class="button-list">User Lookup</a></li>
        <li><a href="/tos" class="button-list">Terms of Service</a></li>
        <li><a href="https://discord.gg/zWs5CCD5bZ" class="button-list">Discord Server</a></li>
        <hr>
        <span class="extra-text">
            Hosting 
                <b>{{ metadata.user_context.sites_on_site }}</b> webpages, <br>
                <b>{{ metadata.user_context.sites_on_site }}</b> members registered<br> 
                and serving <b>{{ metadata.user_context.files_served }}</b> files...
        </span>
        <hr>
        <span class="extra-text">
            Announcements<br>
            <b>Pebbles Alpha</b><br><br>
            <span style="font-size: 10px;color: whitesmoke;">
            Most of the site is finished but all that needs to be worked on is the misc. pages that aren't very important. File uploading works, file editing is easier, and there are finally folders. You can also follow people and comment on people's profiles.
            </span>
        </span>
    </ul>
</div>