{% extends "base.twig" %}

{#
    Why is this here? See "base.twig" for the base template.
#}

{%- block top_right -%}
    <div class="mod-light">
        <div id="normal-bar">
            <h2>What is Pebbles?</h2>
        </div>
        <img src="/assets/built-in/img/pebbles2.png" style="width: 281px;">
        <span class="text">
            Lorem ipsum Dolor Sit Amet Amet minim mollit non deserunt
            ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam
            consequat sunt nostrud amet.<br><br>
            Lorem ipsum Dolor Sit Amet Amet minim mollit non deserunt
            ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam
            consequat sunt nostrud amet.<br><br>

            <span class="extra-text">
                In short, You can publish your VERY OWN
                webpage and share it with your friends and
                family - all for
                <b style="color: dark-green;">FREE</b>
            </span>
        </span>
    </div>
{% endblock %}